<% provide(:title, "Home") %>
<div id="content">
  <div id="content-padding">
      <h1>About</h1>
      <p class="grey">The International Conference on Web Engineering (ICWE), is the prime yearly international conference on the different aspects of designing, building, maintaining and using Web applications. ICWE is supported by the International Society for the Web Engineering (ISWE), and brings together researchers and practitioners from various disciplines in academia and industry to tackle the emerging challenges in the engineering of Web applications and in the problems of its associated technologies, as well as the impact of those technologies on society and culture.
ICWE 2017 will be held on June 5-8, 2017, in Rome, Italy. It is the 17th edition of the conference.</p>
<br />
      <h1>SCOPE</h1>
      <p class="grey"> ICWE aims to bring together researchers and practitioners from various disciplines in academia and industry to tackle the emerging challenges in the engineering of Web applications and in the problems of its associated technologies, as well as the impact of those technologies on society, media and culture. The conference will be held at the Department of Engineering of Roma Tre University in Rome, Italy. Rome is the capital of Italy and it is the country's largest and most populated comune and fourth-most populous city in the European Union by population within city limits. It is one of the most important hubs in Italy and host to several leading universities. The 17th edition of ICWE will accept contributions related to different dimensions of Web applications
</p>

</div>
</div>
